* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (width <= 768px) {
    header {
        height: 5vh;
    }
    .list1 {
        font-size: 1vh;
        margin-top: 1.8vh;
    }
h1 {
margin-top: 6vh;
font-size: 1.7vh; 
margin-left: 33vw;
}
}
@media screen and (width = 320px) {
    h1 {
margin-left: 13%;
    }
} 
@media screen and (width = 375px) {
    h1 {
margin-left: 20%;
    }
} 
@media screen and (width = 425px) {
    h1 {
margin-left: 22%;
    }
} 