* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
@media screen and (width <= 320px) {
    header {

    }
    .list1 {

    }
    .nav1 {
        
    }
} 