.nav1:hover {
    color: #d41116;
    cursor: pointer;
   text-decoration-line: underline;
   text-decoration-color: green;
}
.herotitletext1, .herotitletext2, .herotitletext3:hover {

}
.box-extra1:hover {
cursor: pointer;
box-shadow: 1vw 1vw #252323;
}
.switch:target {
      visibility: visible;
  opacity: 1;
}
.popup .sluiten:hover {
  color: #d41116;
}
.button:hover {
  background: #b5348b;
}