* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (width <= 768px) {
    header {
        height: 5vh;
    }
    .list1 {
        font-size: 1vh;
        margin-top: 1.8vh;
    }
h1 {
    padding-top: 7vh;
font-size: 1.7vh; 
}
}
@media screen and (width <= 2561px) {
    .websites {
        height: 340vh;
    }
.images-websites {
margin-top: 0%;
}
    
}
@media screen and (width <= 1440px) {
        .websites {
        height: 310vh;
    }
.images-websites {
    margin-top: 0%;
}
}
@media screen and (width <= 1040px) {
        .websites {
        height: 170vh;
    }
.images-websites {
margin-top: 65%;
}
}
@media screen and (width <= 800px) {
        .websites {
        height: 130vh;
    }
.images-websites {
margin-top: 90%;
}
}
@media screen and (width = 425px) {
        .websites {
        height: 70vh;
    }
.images-websites {
margin-top: 175%;
}
}
@media screen and (width = 375px) {
        .websites {
        height: 60vh;
    }
.images-websites {
margin-top: 195%;
}
}
@media screen and (width = 320px) {
        .websites {
        height: 55vh;
    }
.images-websites {
margin-top: 230%;
}
}