* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (width <= 768px) {
    header {
        height: 5vh;
    }
    .list1 {
        font-size: 1vh;
        margin-top: 1.8vh;
    }
h1 {
    padding-top: 7vh;
font-size: 1.7vh; 
}
}
@media screen and (width <= 1025px) {
    .images-websites {
        display: flex;
        flex-direction: row;
    }
    .sites1-3 {
        display: flex;
width: 100vw;
        flex-direction: column;
gap: 0%;
    }
.website-1 {
width: 45%;
margin-top: 0.5%;
}
.website-2{
    width: 45%;
}
.website-3 {
width: 45%;

}

.website-4 {
width: 45%;


border: 2px solid black;
}
.website-5 {
width: 45%;

}
.website-6 {
width: 45%;


}
}