* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #b5348b;
}
header {
    height: 8vh;
    width: 100%;
    background-color: #E9ECEF;
    position: fixed;
}
.list1 {
    list-style-type: none;
    display: flex;
    margin-top: 2.5vh;
    gap: 3%;
justify-content: center;
font-size: 2vh;
}
.nav1 {
    color: #212529;
    text-decoration-line: none;
}
h1 {
padding-top: 10vh;
text-align: center;
font-size: 3vw;
}
.herotext {
    margin-top: 10vw;
    width: 33vw;
    margin-left: 2vw;
}
.herotitletext1 {

}
.herotext1 {
margin-top: 1vw;
}
.herotitletext2 {
margin-top: 1vw;
}
.herotext2 {
margin-top: 1vw;
}
.herotitletext3 {
margin-top: 1vw;
}
.herotext3 {
margin-top: 1vw;
}