* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
}
body {
    background-color: #b5348b;
}
header {
    height: 8vh;
    width: 100%;
    background-color: #E9ECEF;
    position: fixed;
}
.list1 {    
    list-style-type: none;
    display: flex;
    margin-top: 2.5vh;
    gap: 3%;
justify-content: center;
font-size: 2vh;
}
.nav1 {
    color: #252323;
    text-decoration-line: none;
}
.hero {
    height: 50vh;
}
h1 {
padding-top: 10vh;
text-align: center;
font-size: 3vw;
}
.herotext {
    min-width: 33%;
    max-width: 50%;
    padding-left: 2%;
}
.herotitletext1 {

}
.herotext1 {
margin-top: 1%;
}
.herotitletext2 {
margin-top: 1%;
}
.herotext2 {
margin-top: 1%;
}
.herotitletext3 {
margin-top: 1%;
}
.herotext3 {
margin-top: 1%;
}

 .websites {
    margin-top: 10vh;
    background-color: #d41116;
}
.title-websites {
    padding-top: 3%;
text-align: center;
font-size: 3vw;
}
.images-websites {
    display: flex;
    flex-direction: column;
}

.sites1-2 {
    display: flex;
    margin-top: 6%;
}
.textsite1 {
    margin-top: -5%;
    font-size: 3vw;
margin-left: 11vw;
}
.site1 {
    width: 40%;
    height: 50vw;
    margin-left: -9vw;
    border-radius: 7vw;
}
.textsite2 {
    margin-top: -5%;
    font-size: 3vw;
margin-left: 10vw;
}
.site2 {
    width: 40%;
    height: 50vw;
    margin-left: -10vw;
    border-radius: 7vw;
}

.sites3-4 {
       display: flex;
margin-top: 7%;
} 
.textsite3 {
       margin-top: -5vw;
    font-size: 3vw;
margin-left: 11vw;
}
.site3 {
    width: 40%;
    height: 50vw;
    margin-left: -9vw;
border-radius: 7vw;
}
.textsite4 {
    margin-top: -5vw;
    font-size: 3vw;
margin-left: 10vw;
}

.site4 {
    width: 40%;
    height: 50vw;
     margin-left: -10vw;
     border-radius: 7vw;
}
.sites5-6 {
       display: flex;
margin-top: 7%;
}
.textsite5 {
    margin-top: -5vw;
    font-size: 3vw;
margin-left: 11vw;
}
.site5 {
     width: 40%;
    height: 50vw;
    margin-left: -9vw;
    border-radius: 7vw;
}
.textsite6 {
    margin-top: -5vw;
    font-size: 3vw;
margin-left: 10vw;
}
.site6 {
   width: 40%;
    height: 50vw;
     margin-left: -10vw;
     border-radius: 7vw;
}

.adobe {
    height: 300vh;
    background-color: #b5348b;
}
.titleadobe {
    margin-top: 3%;
text-align: center;
font-size: 3vw;
}
.adobe1-2 {
    display: flex;
    gap: 2.5%;
    justify-content: center;
}
.text-adobe1 {
margin-left: 10vw;
padding-top: 5.53vw;
font-size: 3vw;
}
.adobeimg1 {
    height: 40vw;
    width: 40vw;
border-radius: 7vw;
}
.adobe2 {

}
.text-adobe2 {
margin-left: 10vw;
padding-top: 5.53vw;
font-size: 3vw;
}
.adobeimg2 {
    height: 40vw;
    width: 40vw;
border-radius: 7vw;
}
.adobe3-4 {
    display: flex;
    gap: 2.5%;
justify-content: center;

}
.adobe3 {

}
.text-adobe3 {
margin-left: 10vw;
padding-top: 9vw;
font-size: 3vw;
}
.adobeimg3 {
    height: 40vw;
    width: 40vw;
border-radius: 7vw;
}
.adobe4 {

}
.text-adobe4 {
margin-left: 10vw;
padding-top: 9vw;
font-size: 3vw;
}
.adobeimg4 {
    height: 40vw;
    width: 40vw;
margin-left: 0.3vw;
border-radius: 7vw;
}
.adobe5-6 {
    display: flex;
    gap: 2.5%;
justify-content: center;
}
.adobe5 {

}
.text-adobe5 {
margin-left: 10vw;
padding-top: 9vw;
font-size: 3vw;
}
.adobeimg5 {
    height: 40vw;
    width: 40vw;
border-radius: 7vw;
}
.adobe6 {

}
.text-adobe6 {
margin-left: 10vw;
padding-top: 9vw;
font-size: 3vw;
}
.adobeimg6 {
    height: 40vw;
    width: 40vw;
margin-left: 0.3vw;
border-radius: 7vw;
}
.extra-adobe {
    margin-top: 1.5vw;
    margin-left: 30vw;
    width: 40vw;
  padding: 2vw;
  border-radius: 2vw/5vw;
  text-align: center;
}
.knop {
background-color: #d41116;
      font-size: 4vw;
      padding-top: 2vw;
      padding-bottom: 2vw;
      padding-left: 7vw;
      padding-right: 7vw;
  color: #f2e0e0;
  border-radius: 2vw/5vw;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
  color: #252323;
}
.switch {
      position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #252323;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.popup {
margin-left: 20vw;
height: 40vw;
margin-top: 7vw;
  padding: 2vw;
  background: #f2e0e0;
  border-radius: 5vw;
  width: 60vw;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup .sluiten {
  position: absolute;
  top: 2vw;
  right: 3vw;
  transition: all 200ms;
  font-size: 5vw;
  font-weight: bold;
  text-decoration: none;
  color: #252323;
}
.sluitentext {
    font-size: 4vw;
margin-top: 0.3vw;
width: 100vw;
margin-left: -25vw;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
footer {
    height: 40vh;
    background-color: #252323;
}
.title-footer {
        padding-top: 3%;
        color: #b5348b;
text-align: center;
font-size: 3vw;
}
.info1 {
    color: #d41116;
}
.info2 {
    color: #b5348b;
}
.info3 {
    color: #d41116;
}
.info4 {
    color: #b5348b;
}
